*~

# C extensions
*.so

# Distribution / packaging
env/
build/
dist/
downloads/
lib/
lib64/
.cache
*.log
./*.deb
./pocket-piap-extras-rpi2-us/debian/*
./pocket-piap-extras-rpi2-us/debian/*/*
./pocket-piap-extras-rpi2-us/debian/*/*/*
./pocket-piap-extras-rpi2-us/*-stamp
./pocket-piap-extras-rpi2-us/*~
./pocket-piap-extras-rpi2-us/pocket-piap-extras-rpi2-us
./pocket-piap-extras-rpi2-us/pocket-piap-extras-rpi2-us/*
